<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/admin.css">
    <title>La Vie Naturelle - Admin</title>
<body>
    <header class="header-admin">
        <a href="/"><img src="./../img/lavie_images/La vie (5).png" alt="" class="img-icon"></a>
        <div class="icono-hamburguesa">
            <div class="burguer-icon">
                <label for="menu" class="nav__label">
                    <ion-icon name="menu-outline"></ion-icon>
                </label>
                <input type="checkbox" id="menu" class="nav__input">
                <nav class="menu-navegacion">
                    <a href="/">inicio</a>
                    <a href="/nosotros">nosotros</a>
                    <a href="/product/CarritoDeCompras">carrito</a>
                    <a href="#">product</a>
                    <a href="/product/newProduct"> Agregar Producto</a>
                    <a href="/user/panel-usuario"> panel de usuario</a>
                    <div class="burguer-icon">
                        <label for="menu" class="nav__label">
                            <ion-icon name="close-outline"></ion-icon>
                        </label>
                        <input type="checkbox" id="menu" class="nav__input">
                </nav>
            </div>
        </div>
    </header>
    <main class="admin-main">
        <div class="banner-admin">
            <div class="welcome-text">
                <h1>Hola! <%= admin.username+" "+admin.lastname %></h1>
                <p>Bienvenido al panel de administrador de La Vie Naturelle</p>
            </div>
            <div class="photo-admin">
                <img src="./../img/users_images/<%=admin.userImage%>" alt="">
            </div>
        </div>
        <div class="info-admin">
            <h2>Lista de Productos</h2>
            <ul class="productos">
                <li>
                    <a href="">Todos los productos</a>
                </li>
                <li>
                    <a href="">Shampoos</a>
                </li>
                <li>
                    <a href="">Jabones</a>
                </li>
                <li>
                    <a href=""> Acondicionadores</a>
                </li>
                <li>
                    <a href=""> Desodorantes</a>
                </li>
            </ul>
        </div>
        <div class="product-list">
            <% products.map(product=>{ %>
                <article>
                    <div class="info-producto">
                        <img src="/img/products_images/<%= product.image %>" alt="imagen">
                        <p>
                            <%= product.nameProduct %>
                        </p>
                        <p>
                            <span>
                                <%= product.price %>
                            </span>
                        </p>
                        <p>10</p>
                    </div>
                    <div class="editar-eliminar">
                        <a href="/product/editProduct/<%= product.id %>">Editar</a>
                        <form action="/product/deleteProduct/<%= product.id %>?_method=delete" method="post">
                            <button type="submit" class="button-delete">Eliminar</button>
                        </form>
                    </div>
                </article>
            <% }) %>
        </div>
        <aside>
        <ul class="aside">
            <li>
                <a href="/nosotros">nosotros</a>
            </li>
            <li>
                <a href="/product/CarritoDeCompras">carrito</a>
            </li>
            <li>
                <a href="#">product</a>
            </li>
            <li>
                <a href="/product/newProduct"> Agregar Producto</a>
            </li>
            <li>
                <a href="/user/panel-usuario">panel de usuario</a>
            </li>
        </ul>
    </aside>
    </main>
</body>
</html>