<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Vie Naturelle - administracion</title>
    <link rel="shortcut icon" href="./../img/lavie_images/la vie icon mod.png" type="image/x-icon" id="x-icon">
    <link rel="stylesheet" href="/css/admin.css">
</head>

<body>
    <header class="header-admin">
        <a href="/"><img src="./../img/lavie_images/La vie (5).png" alt="" class="img-icon"></a>
        <div class="icono-hamburguesa">
            <div class="burguer-icon">
                <label for="menu" class="nav__label">
                    <img src="./../img/icons_images/menu-hamburguesa.png" alt="menu hamburguesa">
                </label>
                <input type="checkbox" id="menu" class="nav__input">
                <nav class="menu-navegacion">
                    <a href="/">inicio</a>
                    <a href="/nosotros">nosotros</a>
                    <a href="/product/CarritoDeCompras">carrito</a>
                    <a href="/user/registro">registro</a>
                    <a href="#">product</a>
                    <a href="/product/newProduct"> Agregar Producto</a>
                    <div class="burguer-icon">
                        <label for="menu" class="nav__label">
                            <img src="./../img/icons_images/cruzar.png" alt="menu hamburguesa">
                        </label>
                        <input type="checkbox" id="menu" class="nav__input">
                </nav>
            </div>
        </div>
    </header>
    <main class="admin-main">
        <aside>
            </ul>
            <li>
                <a href="/nosotros">nosotros</a>
            </li>
            <li>
                <a href="/product/CarritoDeCompras">carrito</a>
            </li>
            <li>
                <a href="/user/registro">registro</a>
            </li>
            <li>
                <a href="#">product</a>
            </li>
            <li>
                <a href="/product/newProduct"> Agregar Producto</a>
            </li>
            <ul>
        </aside>
        <div class="info-admin">
            <h2>Lista de Productos</h2>
            <ul>
                <li>
                    <a href="">Todos los productos</a>
                </li>
                <li>
                    <a href="">Shampoos</a>
                </li>
                <li>
                    <a href="">Jabones</a>
                </li>
                <li>
                    <a href=""> Acondicionadores</a>
                </li>
                <li>
                    <a href=""> Desodorantes</a>
                </li>
            </ul>
        </div>
        <div class="product-list">
            <% products.map(product=>{ %>
                <article>
                    <div class="info-producto">
                        <img src="/img/products_images/<%= product.image %>" alt="imagen">
                        <p>
                            <%= product.nameProduct %>
                        </p>
                        <p>
                            <span>
                                <%= product.price %>
                            </span>
                        </p>
                        <p>10</p>
                    </div>
                    <div class="editar-eliminar">
                        <a href="/product/editProduct/<%= product.id %>">Editar</a>
                        <form action="/product/deleteProduct/<%= product.id %>?_method=delete" method="post">
                            <button type="submit" class="button-delete">Eliminar</button>
                        </form>
                    </div>
                </article>
            <% }) %>
        </div>
    </main>
</body>
</html>