<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/catalogoProductos.css">
    <title>La Vie Naturelle - catalogo</title>

    <body>
        <%- include('./partials/header') %>
            <div class="menu">
                <div class="boton heartBoton">
                    <a href="/" class="boton"><label for="mis fav">Mis favoritos</label></a>
                    <ion-icon name="heart-outline" class="heartbuton"></ion-icon>
                </div>
                <div class="barra barradebusqueda">
                    <input type="search" name="search" placeholder="buscar">
                    <div class="icono de busqueda">
                        <ion-icon name="search-outline"></ion-icon>
                    </div>
                </div>

                <div class="opciones">
                    <label for="ordenar por" id="orden"> Ordenar por:</label>
                    <select>
                        <option value="destacado">Destacado</option>
                        <option value="precio menor">Precio: menor a mayor</option>
                        <option value="precio mayor">Precio: mayor a menor</option>
                        <option value="alfabeticamente menor">A-Z</option>
                        <option value="alfabeticamente mayor">Z-A</option>
                        <option value="mas vendido">Mas vendido</option>
                    </select>
                </div>
            </div>
            <main>
                <div class="category">
                    <div>
                        <div class="iconoFIlter">
                            <ion-icon name="filter-outline"></ion-icon>
                        </div>
                        <div>
                            <h1>Categorias</h1>
                            <ul>
                                <li>Todo</li>
                                <li>Shampoos</li>
                                <li>Acondicionadores</li>
                                <li>Jabones</li>
                                <li>Desodorantes</li>
                            </ul>
                        </div>
                        <div>
                            <h1>Filtros</h1>
                        </div>
                        <div>
                            <h1>Fragancias</h1>
                            <ul>
                                <li> <label for=""><input type="checkbox" name="" id=""> Menta Limón</label></li>  
                                <li> <label for=""> <input type="checkbox" name="" id=""> Lavanda </label></li> 
                                <li> <label for=""> <input type="checkbox" name="" id=""> Naranja  Lima </label></li> 
                                <li> <label for=""> <input type="checkbox" name="" id=""> Cacao Sándalo </label></li> 
                                <li> <label for=""> <input type="checkbox" name="" id=""> Herbal</li></label> 
                                <li> <label for=""> <input type="checkbox" name="" id=""> Café Naranja</label></li> 
                                <li> <label for=""> <input type="checkbox" name="" id=""> Limón Lima</label></li> 
                              </ul>
                        </div>
                        <div>
                            <h1>Variantes</h1>
                        </div>
                    </div>
                </div>

                <aside>
                    <div>
                        <div>
                            <h1>Categorias</h1>
                            <ul>
                                <li>Todo</li>
                                <li>Shampoos</li>
                                <li>Acondicionadores</li>
                                <li>Jabones</li>
                                <li>Desodorantes</li>
                            </ul>
                        </div>
                        <div>
                            <h1>Filtros</h1>
                            <ul>

                            </ul>
                        </div>
                        <div>
                            <h1>Fragancias</h1>
                            <ul>
                              <li> <label for=""><input type="checkbox" name="" id=""> Menta Limón</label></li>  
                              <li> <label for=""> <input type="checkbox" name="" id=""> Lavanda </label></li> 
                              <li> <label for=""> <input type="checkbox" name="" id=""> Naranja  Lima </label></li> 
                              <li> <label for=""> <input type="checkbox" name="" id=""> Cacao Sándalo </label></li> 
                              <li> <label for=""> <input type="checkbox" name="" id=""> Herbal</li></label> 
                              <li> <label for=""> <input type="checkbox" name="" id=""> Café Naranja</label></li> 
                              <li> <label for=""> <input type="checkbox" name="" id=""> Limón Lima</label></li> 
                            </ul>
                        </div>
                        <div>
                            <h1>Variantes</h1>
                            <ul>

                            </ul>
                        </div>
                    </div>
                </aside>

                <div class="catalogo">
                    <fieldset>
                        <legend>Shampoos</legend>
                        <div class="box">
                            <div class="flecha">
                                <ion-icon name="arrow-undo-circle-outline" role="img" class="md hydrated"
                                    aria-label="arrow undo circle outline"></ion-icon>
                            </div>
                            <div class="carousel_productos">
                                <% for (let i=0; i < products.length; i++) { %>
                                    <div class="productos">
                                        <a href="/product/DetalleDeProducto/<%= products[i].id %> "
                                            class="decoration-off">
                                            <div class="producto">
                                                <div class="img product">
                                                    <img src="./../img/products_images/<%= products[i].image%>"
                                                        alt="imagen producto 1">
                                                </div>
                                                <div class="nombre">
                                                    <%= products[i].nameProduct%>
                                                </div>
                                                <div class="precio">
                                                    <div class="old price">
                                                        <h5>
                                                            599.99
                                                        </h5>
                                                    </div>
                                                    <div>
                                                        <h5>
                                                            <h5> $<%= products[i].price%>
                                                            </h5>
                                                    </div>
                                                    <div class="oferta">
                                                        <h3>30%off</h3>
                                                    </div>
                                                </div>
                                                <div class="stock">
                                                    <h5 class="stocker">Stock</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <% } %>
                            </div>
                            <div class="flecha">
                                <ion-icon name="arrow-redo-circle-outline" role="img" class="md hydrated"
                                    aria-label="arrow redo circle outline"></ion-icon>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Acondicionadores</legend>
                        <div class="box">
                            <div class="flecha">
                                <ion-icon name="arrow-undo-circle-outline" role="img" class="md hydrated"
                                    aria-label="arrow undo circle outline"></ion-icon>
                            </div>
                            <div class="carousel_productos">
                                <% for (let i=0; i < products.length; i++) { %>
                                    <div class="productos">
                                        <a href="/product/DetalleDeProducto/<%= products[i].id %> "
                                            class="decoration-off">
                                            <div class="producto">
                                                <div class="img product">
                                                    <img src="./../img/products_images/<%= products[i].image%>"
                                                        alt="imagen producto 1">
                                                </div>
                                                <div class="nombre">
                                                    <%= products[i].nameProduct%>
                                                </div>
                                                <div class="precio">
                                                    <div class="old price">
                                                        <h5>
                                                            599.99
                                                        </h5>
                                                    </div>
                                                    <div>
                                                        <h5>
                                                            <h5> $<%= products[i].price%>
                                                            </h5>
                                                    </div>
                                                    <div class="oferta">
                                                        <h3>30%off</h3>
                                                    </div>
                                                </div>
                                                <div class="stock">
                                                    <h5 class="stocker">Stock</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <% } %>
                            </div>
                            <div class="flecha">
                                <ion-icon name="arrow-redo-circle-outline" role="img" class="md hydrated"
                                    aria-label="arrow redo circle outline"></ion-icon>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Jabones</legend>
                        <div class="box">
                            <div class="flecha">
                                <ion-icon name="arrow-undo-circle-outline" role="img" class="md hydrated"
                                    aria-label="arrow undo circle outline"></ion-icon>
                            </div>
                            <div class="carousel_productos">
                                <% for (let i=0; i < products.length; i++) { %>
                                    <div class="productos">
                                        <a href="/product/DetalleDeProducto/<%= products[i].id %> "
                                            class="decoration-off">
                                            <div class="producto">
                                                <div class="img product">
                                                    <img src="./../img/products_images/<%= products[i].image%>"
                                                        alt="imagen producto 1">
                                                </div>
                                                <div class="nombre">
                                                    <%= products[i].nameProduct%>
                                                </div>
                                                <div class="precio">
                                                    <div class="old price">
                                                        <h5>
                                                            599.99
                                                        </h5>
                                                    </div>
                                                    <div>
                                                        <h5>
                                                            <h5> $<%= products[i].price%>
                                                            </h5>
                                                    </div>
                                                    <div class="oferta">
                                                        <h3>30%off</h3>
                                                    </div>
                                                </div>
                                                <div class="stock">
                                                    <h5 class="stocker">Stock</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <% } %>
                            </div>
                            <div class="flecha">
                                <ion-icon name="arrow-redo-circle-outline" role="img" class="md hydrated"
                                    aria-label="arrow redo circle outline"></ion-icon>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Desodorantes</legend>
                        <div class="box">
                            <div class="flecha">
                                <ion-icon name="arrow-undo-circle-outline" role="img" class="md hydrated"
                                    aria-label="arrow undo circle outline"></ion-icon>
                            </div>
                            <div class="carousel_productos">
                                <% for (let i=0; i < products.length; i++) { %>
                                    <div class="productos">
                                        <a href="/product/DetalleDeProducto/<%= products[i].id %> "
                                            class="decoration-off">
                                            <div class="producto">
                                                <div class="img product">
                                                    <img src="./../img/products_images/<%= products[i].image%>"
                                                        alt="imagen producto 1">
                                                </div>
                                                <div class="nombre">
                                                    <%= products[i].nameProduct%>
                                                </div>
                                                <div class="precio">
                                                    <div class="old price">
                                                        <h5>
                                                            599.99
                                                        </h5>
                                                    </div>
                                                    <div>
                                                        <h5>
                                                            <h5> $<%= products[i].price%>
                                                            </h5>
                                                    </div>
                                                    <div class="oferta">
                                                        <h3>30%off</h3>
                                                    </div>
                                                </div>
                                                <div class="stock">
                                                    <h5 class="stocker">Stock</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <% } %>
                            </div>
                            <div class="flecha">
                                <ion-icon name="arrow-redo-circle-outline" role="img" class="md hydrated"
                                    aria-label="arrow redo circle outline"></ion-icon>
                            </div>
                        </div>
                    </fieldset>
            </main>
            <script src="\js\catalogoproductos.js"></script>
            <%- include('./partials/footer') %>

    </body>

</html>