<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/favoritos.css">
    <title>La Vie Naturelle - Favoritos</title>
    <body>
        <%- include('./partials/header') %>
            <main class="main-favoritos">
                <h1 class="title">
                    <ion-icon name="heart-sharp" id="favorito-icon"></ion-icon>
                    MIS FAVORITOS</h1>
                <article class="article-favoritos">
                    <table class="tabla-favoritos">
                        <tr class="subtitulos">
                            <th class="subtitulo-favoritos">Producto</th>
                            <th class="subtitulo-favoritos">Stock</th>
                            <th class="subtitulo-favoritos">Cantidad</th>
                            <th class="subtitulo-favoritos">Precio</th>
                            <th class="subtitulo-favoritos">Agregar al carrito</th>
                        </tr>
                        <% if (locals.products) { %>
                            <% products.forEach(product=>{ %>
                        <tr>
                            <td class="td-favoritos">
                                <div class="card-info">
                                    <div class="basurero">
                                        <ion-icon name="trash"></ion-icon>
                                    </div>
                                    <div>
                                    <img src="./../img/products_images/<%= product.Image %>" alt="LaVieNaturelle">
                                    </div>
                                    <div class="style-name">
                                    <p><%= product.nameProduct %></p>
                                    <div> disponible </div>
                                    <i class="fa-solid fa-plus"></i>
                                    <input type="number" min="0" max="100" placeholder="1" id="numero">
                                    <i class="fa-solid fa-minus"></i>
                                    <small class="price"><%= product.price %>$</small>
                                    <button class="button">
                                        <span class="agregar-carrito" data-id="<%= product.id %>">añadir al carrito</span>
                                        <div class="cart">
                                        <svg viewBox="0 0 36 26">
                                        <polyline points="1 2.5 6 2.5 10 18.5 25.5 18.5 28.5 7.5 7.5 7.5"></polyline>
                                        <polyline points="15 13.5 17 15.5 22 10.5"></polyline>
                                        </svg>
                                        </div>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <% }) %> 
                    <% } %>
                        
                    </table>
                </article>
            </main>
            <%- include('./partials/footer') %>
            <script src="\js\favoritos.js"></script>
    </body>
</html>