<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/favoritos.css">
    <title>La Vie Naturelle - Favoritos</title>
    <body>
        <%- include('./partials/header') %>
            <main class="main-favoritos">
                <h1 class="title">
                    <ion-icon name="heart-sharp" id="favorito-icon"></ion-icon>
                    MIS FAVORITOS</h1>
                <article class="article-favoritos">
                    <table class="tabla-favoritos">
                        <tr class="subtitulos">
                            <th class="subtitulo-favoritos">Producto</th>
                            <th class="subtitulo-favoritos">Stock</th>
                            <th class="subtitulo-favoritos">Precio</th>
                            <th class="subtitulo-favoritos">Agregar al carrito</th>
                        </tr>
                        <% if (locals.products) { %>
                            <% products.forEach(product=>{ %>
                        <tr>
                            <td class="td-favoritos">
                                <div class="card-info">
                                    <div class="basurero">
                                        <ion-icon name="trash"></ion-icon>
                                    </div>
                                    <div>
                                    <img src="./../img/products_images/<%= product.Image %>" alt="LaVieNaturelle">
                                    </div>
                                    <div class="style-name">
                                    <p><%= product.nameProduct %></p>
                                    <div> disponible </div>
                                    <small class="price"><%= product.price %>$</small>
                                     <div class="boton-compra">
                                    <button type="button" class="buton">Agregar al carrito</button>
                                </div>
                            </td>
                        </tr>
                        <% }) %> 
                    <% } %>
                        
                    </table>
                </article>
            </main>
            <%- include('./partials/footer') %>
            <script src="\js\favoritos.js"></script>
    </body>
</html>