<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<link rel="stylesheet" href="/css/register.css">
    <title>La Vie Naturelle - Login</title>
    <body>
        <%- include('./partials/header') %>
            <article class="container" id="login">
                <img src="/img/banners_fondos_images/fondo-uso5.jpg" alt="Imagen login" class="img">
                <section class="form">
                    <img src="/img/lavie_images/la_vie_icon.png" alt="Logo login">
                    <h2>inicia sesión</h2>
                    <h1>Bienvenido de vuelta!</h1>
                    <p>Por favor ingresa tu cuenta para acceder a la página</p>
                    <form action="/user/login" method="post">
                        <div>
                            <label for="name">Correo electronico</label>
                            <input type="text" class="textArea" name="userEmail" id="name"
                            <% if (locals.old && old.userEmail) { %>
                                value=<%= old.userEmail %> 
                                <% } %>>
                                
                                <div>
                                    <% if (locals.errors && errors.userEmail) { %>
                                        <p class="alerta"><%= errors.userEmail.msg %></p>
                                    <% } %>
                                </div>
                        </div>
                        <div class="wrapp-input">
                            <label for="pass">Contraseña</label>
                            <div class="ojos">
                                <span class="hidden">
                                    <ion-icon name="eye-outline"></ion-icon>
                                </span>
                            </div>
                            <input type="password" name="password" id="pass" class="textArea" 
                            <% if (locals.old && old.password) { %>
                                value=<%= old.password%> 
                                <% } %>>
                                <div>
                                    <% if (locals.errors && errors.password) { %>
                                        <p class="alerta"><%= errors.password.msg %></p>
                                    <% } %>
                                </div>
                            <input type="checkbox" name="remember" id="recordar">recordar contraseña
                        </div>
                        <span><a href="" target="_blank">¿ no recuerdas tu contraseña ?</a></span>
                        <input type="submit" value="iniciar sesión" class="button" >
                    </form>
                    <p1>¿ No tienes una cuenta ? Create una!<a href="/user/registro"><button class="button">registrarse</button></a></p1>
                </section>
            </article>
            <%- include('./partials/footer') %>
            <script src="\js\login.js"></script>
    </body>

</html>