<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/miCuenta.css">
    <title>Mi Cuenta</title>
<body>
    <%- include('./partials/header') %>
    <main>
        <% if (edit) { %>
            <!--formulario de editar usuario-->
            <%- include('./partials/userEdit') %>
        <% } else {%>
            <!--Tarjeta de informacion de usuario-->
            <%- include('./partials/main-cuenta') %>
        <% } %>         
    </main>
    <%- include('./partials/footer') %>
</body>
</html>