<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/miCuenta.css">
    <title>Mi Cuenta</title>
<body>
    <%- include('./partials/header') %>
    <main>

        <!--Tarjeta de informacion de usuario-->
        <%- include('./partials/main-cuenta') %>

        <!--formulario de editar usuario-->
        <%- include('./partials/userEdit') %>

        
    </main>
    

    
    <%- include('./partials/footer') %>
</body>
</html>