<!DOCTYPE html>
<html lang="es">
    <title>La Vie Naturelle - register</title>
<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <article class="container" id="register">
        <section class="form">
            <img src="/img/lavie_images/la_vie_icon.png" alt="logo registro">
            <h2>Regístrate</h2>
            <form method="post" action="/user/registro">
                <div>    
                    <label for="name">Nombre de usuario</label>
                    <input type="text" id="name" name="username" placeholder="Nombre de usuario"class="textArea"
                    <% if (old.username) { %>
                        value=<%= old.username %> 
                    <% } %>
                    required>
                    <% if (errors.username) { %>
                    <p><%= errors.username.msg %> </p>
                    <% } %>
                </div>
                <div>
                    <label for="pass">Contraseña</label>
                    <input type="password" name="password" id="pass" placeholder="Nueva contraseña"class="textArea"
                    <% if (old.password) { %>
                        value=<%= old.password %> 
                    <% } %>
                    required>
                    <% if (errors.password) { %>
                        <p><%= errors.password.msg %> </p>
                        <% } %>
                    <span class="hidden"><input type="checkbox">Mostrar</span>
                </div>
                <div>
                    <label for="copass">Confirmar Contraseña</label>
                    <input type="password" name="coPass"id="copass" placeholder="Confirmar contraseña"class="textArea"
                    <% if (old.coPass) { %>
                        value=<%= old.coPass %> 
                    <% } %>
                    required>
                    <% if (errors.coPass) { %>
                        <p><%= errors.coPass.msg %> </p>
                        <% } %>
                    <span class="hidden"><input type="checkbox">Mostrar</span>
                </div>
                <div>
                    <label for="email">Correo</label>
                    <input type="email" name="email" id="email" placeholder="Email"class="textArea"
                    <% if (old.email) { %>
                        value=<%= old.email %> 
                    <% } %>
                    required>
                    <% if (errors.email) { %>
                        <p><%= errors.email.msg %> </p>
                        <% } %>
                </div>
                <input type="submit" value="Registrarse"class="button">
            </form>
            <p>¿ Ya tienes una cuenta ? <a href="/user/login"><button class="button">Login</button ></a></p>
        </section>
        <img src="/img/products_images/jabon_3.jpg" alt="imagen Registro" class="img">
    </article>
    <%- include('./partials/footer') %>
</body>
</html>