<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/register.css">
    <title>La Vie Naturelle - Register</title>


    <body>
        <%- include('./partials/header') %>
            <main class="container" id="register">
                <section class="form">
                    <form method="post" action="/user/registro" enctype="multipart/form-data" id="formulario">
                        <img src="/img/lavie_images/la_vie_icon.png" alt="logo registro">
                        <h2>Regístrate</h2>
                        <!-- Grupo: Nombre -->
                        <div class="formulario__grupo" id="grupo__name">
                            <label for="name" class="formulario__label">Nombre
                                <div class="formulario__grupo-input">
                                    <input type="text" class="formulario__input" name="name" id="name"
                                        placeholder="cosme" <% if (locals.errors && old.name) { %>
                                            value=<%= old.name %>
                                        <% } %>>
                                    <p class="formulario__input-error">El nombre tiene que ser de 2 a 16 solo letras.
                                    </p>
                                    
                                    <% if (locals.errors && errors.name) { %>
                                        <p class="alerta">
                                            <%= errors.name.msg %>
                                        </p>
                                    <% } %>
                                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                </div>
                            </label>
                        </div>

                        <!-- Grupo: apellido -->
                        <div class="formulario__grupo" id="grupo__lastname">
                            <label for="lastname" class="formulario__label">apellido
                                <div class="formulario__grupo-input">
                                    <input type="text" class="formulario__input" name="lastname" id="lastname"
                                        placeholder="fulanito" <% if (locals.errors && old.lastname) { %>
                                            value=<%= old.lastname %>
                                        <% } %>>
                                    <p class="formulario__input-error">El apellido tiene que ser de 2 a 16 solo letras.
                                    </p>
                                    <% if (locals.errors && errors.lastname) { %>
                                        <p class="alerta">
                                            <%= errors.lastname.msg %>
                                        </p>
                                    <% } %>
                                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                </div>
                            </label>
                        </div>

                        <!-- Grupo: Contraseña -->
                        <div class="formulario__grupo" id="grupo__password">
                            <label for="password" class="formulario__label">Contraseña
                                <div class="formulario__grupo-input">
                                    <div class="eye">
                                        <span class="hidden">
                                            <ion-icon name="eye-outline" class="eyeIcon"></ion-icon>
                                        </span>
                                    </div>
                                    <input type="password" class="formulario__input" name="password"
                                        placeholder="cOntr@señ4" class="textArea password" id="password"
                                    <% if (locals.errors && old.password) { %>
                                        value=<%= old.password %>
                                    <% } %>>
                                    <p class="formulario__input-error">La contraseña tiene que ser de 8 a 15 dígitos.
                                    </p>
                                    <% if (locals.errors && errors.password) { %>
                                        <p class="alerta">
                                            <%= errors.password.msg %>
                                        </p>
                                    <% } %>
                                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                </div>
                            </label>
                        </div>

                        <!-- Grupo: Contraseña 2 -->
                        <div class="formulario__grupo" id="grupo__coPass">
                            <label for="coPass" class="formulario__label">Repetir Contraseña
                                <div class="formulario__grupo-input">
                                    <div class="eye">
                                        <span class="hidden">
                                            <ion-icon name="eye-outline" class="eyeIcon"></ion-icon>
                                        </span>
                                    </div>
                                    <input type="password" class="formulario__input" placeholder="cOntr@señ4" name="coPass"
                                        id="password"
                                    <% if (locals.errors && old.coPass) { %>
                                        value=<%= old.coPass %>
                                    <% } %>>
                                    <p class="formulario__input-error">Ambas contraseñas deben ser iguales.</p>
                                    <% if (locals.errors && errors.coPass) { %>
                                        <p class="alerta">
                                            <%= errors.coPass.msg %>
                                        </p>
                                    <% } %>
                                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                </div>
                            </label>
                        </div>
                        <div class="formulario__grupo" id="grupo__userEmail">
                            <label for="userEmail" class="formulario__label">Correo Electrónico
                                <div class="formulario__grupo-input">
                                    <input type="email" class="formulario__input" name="userEmail" id="userEmail"
                                        placeholder="LavieNaturelle@correo.com"
                                    <% if (locals.errors && old.userEmail) { %>
                                        value=<%= old.userEmail %>
                                    <% } %>>
                                    <p class="formulario__input-error">El correo solo permite letras,números,puntos,guion y guion bajo.</p>
                                    <% if ( locals.errors && errors.userEmail) { %>
                                        <p class="alerta">
                                            <%= errors.userEmail.msg %>
                                        </p>
                                    <% } %>
                                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                </div>
                            </label>
                        </div>

                        <div class="formulario__grupo" id="grupo__image">
                            <label for="file" class="formulario__label">Foto de perfil
                                <div class="formulario__grupo-input">
                                    <input type="file" name="image" id="file" accept="image/jpg image/png image/jpeg">
                                    <p class="formulario__input-error"> la imagen no es permitida solo acepta jpg png y
                                        jpeg.</p>
                                    <% if (locals.errors && errors.image) { %>
                                        <p class="alerta">
                                            <%= errors.image.msg %>
                                        </p>
                                    <% } %>
                                </div>
                            </label>
                        </div>

                        <div class="formulario__mensaje" id="formulario__mensaje">
                            <p>
                                <ion-icon name="warning-outline"></ion-icon> <b>Aviso:</b> Por Favor Complete El
                                Formulario Correctamente.
                            </p>
                        </div>

                        <div class="bot">
                            <input type="submit" value="Registrarse" class="button">
                            <p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Formulario Enviado
                                Exitosamente!</p>
                        </div>
                    </form>
                    <p>¿ Ya tienes una cuenta ? <a href="/user/login"><button class="button">iniciar sesión</button></a>
                    </p>

                </section>
                </p>
                <img src="/img/banners_fondos_images/fondo-uso4.jpg" alt="imagen Registro" class="img">

            </main>
            <%- include('./partials/footer') %>
                <script src="\js\register.js"></script>
                <script src="https://kit.fontawesome.com/2c36e9b7b1.js"></script>
                <script src="\js\validacion.js"></script>
    </body>

</html>