<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<link rel="stylesheet" href="/css/panel-user.css">
<title>La Vie Naturelle - panel-user</title>
<body>
<header class="panel-user">
    <a href="/"><img src="./../img/lavie_images/La vie (5).png" alt="" class="img-icon"></a>
    <div class="icono-hamburguesa">
        <div class="burguer-icon">
            <label for="menu" class="nav__label">
                <ion-icon name="menu-outline"></ion-icon>
            </label>
            <input type="checkbox" id="menu" class="nav__input">
            <nav class="menu-navegacion">
                <a href="/">inicio</a>
                <a href="/nosotros">nosotros</a>
                <a href="/product/CarritoDeCompras">carrito</a>
                <a href="/user/registro">registro</a>
                <a href="#">product</a>
                <a href="/product/newProduct"> Agregar Producto</a>
                <a href="/user/panel-usuario"> panel de usuario</a>
                <div class="burguer-icon">
                    <label for="menu" class="nav__label">
                        <ion-icon name="close-outline"></ion-icon>
                    </label>
                    <input type="checkbox" id="menu" class="nav__input">
            </nav>
        </div>
    </div>
</header>

<body>
    <main>
     <div class="userpanel">
        <% users.forEach(user=>{ %>

            <div class="usuariopanel">   
                <div class="separacion nombre">
                    <%= user.userName+" "+user.lastname %> 
                </div>
                <div class="separacion imagen">
                    <img src="./../../img/users_images/<%= user.image %>" alt="Foto de perfil de usuario">
                </div>
                <div class="separacion option">
                    <select>
                        <option value="user" <%= user.status=="user"?"selected":""%>>usuario</option>
                        <option value="admin"<%= user.status=="admin"?"selected":""%>>admin</option>
                    </select>
                </div>
                <div class="separacion botom">
                    <form action="/user/myAccount/<%= user.id %>" method="get" class="boton botoneditar">
                        <input type="submit" value="editar perfil"class="decoraciones">
                    </form>
                    <form action ="/user/delete/<%= user.id %>?_method=delete" method="POST" class="boton botonborrar">
                        <button type="submit" class="decoraciones" >borrar perfil</button>
                    </form>
                </div>
            </div> 
        <% }) %> 
    </div> 
    </main>
</body>
</html>