<main class="main-cuenta">
    <div class="container-perfil">
        <div class="info-user">
            <div class="image-user">
                <img src="./../../img/users_images/<%= user.image %>" alt="Foto de perfil de usuario">
            </div>
            <h2><%= user.userName %></h2>
        </div>
        <div class="buttons-users">
            <div class="user-button">
                <a href="/user/editAccount/<%= user.id %>"><input type="button" value="Editar información"></a>
            </div>
            <div class="user-button">
                <a href="/user/un-login"><input type="button" value="Cerrar sesión"></a>
            </div>
        </div>
        
    </div>
    <div class="mis-datos">
        <h3>Mis Datos</h3>
        <div class="user-email">
            <!--icon-->
            <h4>Correo Electrónico</h4>
            <p><%= user.email %></p>
        </div>
        <div class="user-nombre">
            <!--icon-->
            <h4>Nombre y Apellido</h4>
            <p><%= user.userName+" "+user.lastname %> </p>
        </div>
        <div class="user-telefono">
            <!--icon-->
            <h4>Celular</h4>
            <p><%= user.telephone?user.telephone:"sin completar" %></p>
        </div>
        <h3>Datos de Envío</h3>
        <div class="user-postal">
            <!--icon-->
            <h4>Código Postal</h4>
            <P><%= user.postalCode?user.postalCode:"sin completar" %></P> 
        </div>
        <div class="user-direccion">
            <!--icon-->
            <h4>Dirección</h4>
            <p><%= user.direction?user.direction:"sin completar" %></p>
        </div>
        <h3>Tarjetas Asociadas</h3>
        <% if (user.cards) { %>
            <% user.cards.forEach(card=>{%>
                <div class="user-tarjetas">
                    <!--icon-->
                    <h4>Tarjeta</h4>
                    <p><%= card.type %></p>
                    <p><%= card.number %></p>
                </div>
            <%}) %> 
        <% } else {%>
            <div class="user-tarjetas">
                <h4>No cuenta con targetas asociadas</h4>
            </div>
        <% } %>
        <form action="/user/delete/<%= user.id %>?_method=delete" method="post" class="user-buttonEliminar">
            <input type="submit" value="Eliminar cuenta">
        </form>
    </div>
</main>